{{#draggable-dropzone dropped="changeCard"}}
<center><h4>{{board}}</h4></center>
<div class="divider"></div>
  {{#each cards as |card|}}
  {{card-kanban card=card action="sendToRouteAction"}}
{{/each}}
{{/draggable-dropzone}}
