{{#if session.isAuthenticated}}
  <nav>
    <div class="container">
    <div class="nav-wrapper">
      {{#link-to 'dashboard'}}dKanban{{/link-to}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>{{#link-to 'demands'}}Cadastrar Demanda{{/link-to}}</li>
        <li><a href="#" {{action 'logout'}}>Logout</a></li>
      </ul>
    </div>
    </div>
  </nav>
{{/if}}

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
