<div class="row">
  {{board-kanban board="A fazer" cards=todo action="detailCard" refresh="refreshModel" changeCard="changeCard"}}
  {{board-kanban board="Desenvolvimendo" cards=development action="detailCard" refresh="refreshModel" changeCard="changeCard"}}
  {{board-kanban board="Testando" cards=testing action="detailCard" refresh="refreshModel" changeCard="changeCard"}}
  {{board-kanban board="Homologando" cards=homologation action="detailCard" refresh="refreshModel" changeCard="changeCard"}}
</div>
